.swiper {
  width: 1288px;
  height: 342px;
  z-index: -9999px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */
  z-index: -9999px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 1288px;
  height: 342px;
  object-fit: cover;
  z-index: -99px;
}
